@model netgarson.Entities.QrCode
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section id="container">
    <!--header start-->
    <header class="header white-bg">
        @Html.Partial("~/Views/Shared/_AdminTopMenuPartialView.cshtml")
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        @Html.Partial("~/Views/Shared/_AdminLeftMenuPartialView.cshtml")
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            @*<div class="div-alert">
                    <div class="alert alert-success div-alertSuccess" role="alert" style="display:none">
                    </div>
                    <div class="alert alert-danger div-alertDanger" role="alert" style="display:none">
                    </div>
                </div>*@
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="card">
                        <header class="card-header">
                            Qr Kod Düzenle
                            <button id="button-save" class="btn btn-primary btn-sm" type="button" style="float:right"><i class="fa fa-save"></i> Kaydet</button>
                        </header>
                        <div class="card-body">
                            <form class="form-horizontal tasi-form" method="get">

                                <input id="input-ID" type="hidden" class="form-control" value="@Model.ID">


                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Masa Numarası</label>
                                    <div class="col-sm-10">
                                        <div class="form-group row">
                                            <div class="my-colspan" style="width:135px">
                                                <div class="input-group mb-3">
                                                    <input id="input-tableNo" type="text" class="form-control" maxlength="9" style="text-align:right" onkeypress="validateNumber(event)" value="@Model.TableNo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Tarama Sayısı</label>
                                    <div class="col-sm-10">
                                        <div class="form-group row">
                                            <div class="my-colspan" style="width:135px">
                                                <div class="input-group mb-3">
                                                    <input id="input-scanCount" type="text" class="form-control" maxlength="9" style="text-align:right" onkeypress="validateNumber(event)" value="@Model.ScanCount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Çağrı Sayısı</label>
                                    <div class="col-sm-10">
                                        <div class="form-group row">
                                            <div class="my-colspan" style="width:135px">
                                                <div class="input-group mb-3">
                                                    <input id="input-callCount" type="text" class="form-control" maxlength="9" style="text-align:right" onkeypress="validateNumber(event)" value="@Model.CallCount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row last">
                                    <label class="col-sm-2 col-sm-2 control-label"></label>
                                    <div class="col-sm-10">

                                        <label class="label_check" for="input-active" style="padding-bottom:7px">
                                            @{
                                                string activeText = "";
                                                if (Model.Active == true)
                                                {
                                                    activeText = "checked";
                                                }
                                                else
                                                {
                                                    activeText = "";
                                                }
                                            }
                                            <input id="input-active" type="checkbox" @activeText> Aktif Yorum
                                        </label>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>



                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2018 © FlatLab by VectorLab.
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

@section SectionCSS{
    <!-- Bootstrap core CSS -->
    <link href="~/Assets/FlatLab/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/FlatLab/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Assets/FlatLab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="~/Assets/UploadFile/uploadfile.css" rel="stylesheet" />
    <link href="~/Assets/FlatLab/assets/toastr-master/toastr.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" type="text/css" href="~/Assets/FlatLab/assets/bootstrap-fileupload/bootstrap-fileupload.css" />
        <link rel="stylesheet" type="text/css" href="~/Assets/FlatLab/assets/bootstrap-datepicker/css/datepicker.css" />
        <link rel="stylesheet" type="text/css" href="~/Assets/FlatLab/assets/bootstrap-colorpicker/css/colorpicker.css" />
        <link rel="stylesheet" type="text/css" href="~/Assets/FlatLab/assets/bootstrap-daterangepicker/daterangepicker.css" />*@
    <!--right slidebar-->
    <link href="~/Assets/FlatLab/css/slidebars.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Assets/FlatLab/css/style.css" rel="stylesheet">
    <link href="~/Assets/FlatLab/css/style-responsive.css" rel="stylesheet" />


}
@section SectionJS{

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Assets/FlatLab/js/jquery.js"></script>
    <script src="~/Assets/FlatLab/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/FlatLab/js/jquery.scrollTo.min.js"></script>
    <script src="~/Assets/FlatLab/js/jquery.nicescroll.js" type="text/javascript"></script>

    <script src="~/Assets/FlatLab/js/jquery-ui.min.js"></script>
    <script class="include" type="text/javascript" src="~/Assets/FlatLab/js/jquery.dcjqaccordion.2.7.js"></script>

    <script src="~/Assets/UploadFile/jquery.uploadfile.js"></script>

    @*<script type="text/javascript" src="~/Assets/FlatLab/assets/fuelux/js/spinner.min.js"></script>*@
    @*<script type="text/javascript" src="~/Assets/FlatLab/assets/bootstrap-fileupload/bootstrap-fileupload.js"></script>*@

    <!--custom switch-->
    @*<script src="~/Assets/FlatLab/js/bootstrap-switch.js"></script>*@
    <!--custom tagsinput-->
    @*<script src="~/Assets/FlatLab/js/jquery.tagsinput.js"></script>*@
    <!--custom checkbox & radio-->
    @*<script type="text/javascript" src="~/Assets/FlatLab/js/ga.js"></script>*@


    @*<script type="text/javascript" src="~/Assets/FlatLab/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="~/Assets/FlatLab/assets/bootstrap-daterangepicker/date.js"></script>
        <script type="text/javascript" src="~/Assets/FlatLab/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script type="text/javascript" src="~/Assets/FlatLab/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
        <script type="text/javascript" src="~/Assets/FlatLab/assets/ckeditor/ckeditor.js"></script>*@

    @*<script type="text/javascript" src="~/Assets/FlatLab/assets/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>*@
    <script src="~/Assets/FlatLab/js/respond.min.js"></script>

    <!--right slidebar-->
    <script src="~/Assets/FlatLab/js/slidebars.min.js"></script>
    <script src="~/Assets/FlatLab/assets/toastr-master/toastr.js"></script>

    <!--common script for all pages-->
    <script src="~/Assets/FlatLab/js/common-scripts.js"></script>

    <!--script for this page-->
    @*<script src="~/Assets/FlatLab/js/form-component.js"></script>*@

    <script src="~/Assets/Local/Admin/js/editqrcode.js"></script>



}